:root {
  --color-white: #FFF;
  --color-black: #000;
  --color-gray: #9C9C9C;
  --color-light-gray: #F7F7F7;
  --color-red: #FF6669;
  --color-green: #1AB76C;
  --color-gold: #FFD700;
  --color-gold-dark: #B59410;
  --color-blue: #2D71B4;
}
